<div class="container p-3">
  <h1 class="titre-card">Mes favoris</h1>
  <% @bookmarks.each do |bookmark| %>
  <div class="card-favoris d-flex">
    <div class="card-favoris-front d-flex">
      <div class="card-favoris-img">
        <%= image_tag bookmark.offer.photo %>
      </div>
      <div class="card-favoris-description">
        <h3 class="card-favoris-titre"><%= bookmark.offer.name %></h3>
        <h4><i class="fas fa-map-marker-alt"></i> <strong><%= bookmark.offer.address %></strong></h4>
        <div class="card-favoris-info"><%= link_to "Plus d'info", (offer_path(bookmark.offer)) %></div>
      </div>
    </div>
    <div class="card-favoris-swip">
      <%= link_to(offer_bookmark_path(bookmark.offer, bookmark), method: :delete, remote: true) do  %>
        <i class="fas fa-heart"></i>
      <% end %>
    </div>

  </div>
  <% end %>

</div>
