<div class="author-container <%= message.user == current_user ? 'currentuser' : 'otheruser' %>">
  <i class="author">
    <span><%= message.user.nickname %></span>
    <small><%#= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    <small><%= time_ago_in_words(message.created_at) %></small>
  </i>
</div>

<div class="message-container <%= message.user == current_user ? 'currentuser' : 'otheruser' %>" id="message-<%= message.id %>">
  <p><%= message.content %></p>
</div>
