<div class="bg-grey card-chat" data-user-id="<%= current_user.id %>"><h1><%= meetup.date.strftime("%d %B at %H:%M") %></h1>
  <div id="messages" data-meetup-id="<%= meetup.id %>">
      <% meetup.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
  </div>
  <%= simple_form_for [ meetup, message ], html: { class: "chat-form"}, remote: true do |f| %>
    <div class="input-message"><%= f.input :content, label: false, placeholder: "Message" %></div>
    <div class="submit-valid">
      <%= button_tag type: 'submit' do %>
        <div class="icon-send"><i class='far fa-paper-plane'></i></div>
      <% end %>
    </div>
  <% end %>
</div>

