<div class="container">
  <div class="btn-meetup">
    <%= link_to "Créer un meetup", new_offer_meetup_path(@offer) %>
  </div>
  <div>
    <% @offer.meetups.each do |meetup| %>
      <div class="card-user-meetup" id="meetup-<%= meetup.id %>">
        <div class="card-meetup-left">
          <h3><%= meetup.offer.name %></h3>
          <h4>par <strong><%= meetup.user.nickname %></strong></h4>
          <div class="card-tags">
            <span><%= meetup.participants.count %> participant(s)</span>
          </div>
        </div>
        <div class="card-meetup-right">
          <p><%= meetup.date.strftime('%d/%m/%Y') %></p>
          <h2><%= meetup.date.strftime('%Hh%M') %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
