<div class="container position-relative" style="margin-top: 5vh ;background-color: white">
  <div class ="black-cross-meetup">
    <%= link_to offer_path(@meetup.offer.id, card_flipped: true) do%>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div class="card-offer-meetup">
    <p><strong><%= @meetup.offer.name %></strong></p>
    <div class="size-date-heure-description">
      <div class="time-meetup"><p>le <%= @meetup.date.strftime("%d.%m.%Y") %> à <%= @meetup.date.strftime("%Hh%M") %></p></div>
      <p><%= @meetup.description %></p>
    </div>
  </div>

  <div class="card-participation">
  <div class=""></div>
    <% if current_user.participants.where(meetup: @meetup).any? %>
      <%= link_to(participant_path( current_user.participants.where(meetup: @meetup).first), remote: true, method: :delete) do  %>
        <p class = btn-review-transparent>Ne plus participer</p>
      <% end %>
    <% else %>
      <%= link_to(meetup_participants_path(@meetup), method: :post, remote: true) do  %>

        <p class = btn-review-black>Participer</p>
      <% end %>
    <% end %>
  <ul>
    <% @meetup.participants.each do |participant| %>
    <%# <li><%= participant.user.nickname </li> %>
    <% end %>
  </ul>

  <%= render 'chat', meetup: @meetup, message: Message.new %>
</div>
