<div class="container" style="margin-top: 54px;background-color: white">
  <div class="card-offer-meetup">
    <p><strong><%= @meetup.offer.name %></strong></p>
    <div class="size-date-heure-description"><p><%= @meetup.date %></p>
    <p><%= @meetup.description %></p></div>
  </div>

  <div class="card-participation">
  <div class=""></div>
    <% if current_user.participants.where(meetup: @meetup).any? %>
      <%= link_to(participant_path( current_user.participants.where(meetup: @meetup).first), remote: true, method: :delete) do  %>
        <i class="fas fa-minus-circle"></i>
        <p>Participation</p>
      <% end %>
    <% else %>
      <%= link_to(meetup_participants_path(@meetup), method: :post, remote: true) do  %>
        <i class="fas fa-plus-circle"></i>
        <p>Participation</p>
      <% end %>
    <% end %>
  <ul>
    <% @meetup.participants.each do |participant| %>
    <%# <li><%= participant.user.nickname </li> %>
    <% end %>
  </ul>

  <%= render 'chat', meetup: @meetup, message: Message.new %>
</div>
