<div class="container">
  <p><%= @meetup.user.nickname %> à proposé un Meetup le <%= @meetup.date %></p>
  <p><%= @meetup.description %></p>

  <div class="card-participation">
    <% if current_user.participants.where(meetup: @meetup).any? %>
      <%= link_to(participant_path( current_user.participants.where(meetup: @meetup).first), remote: true, method: :delete) do  %>
        <i class="fas fa-minus-circle"></i>
        <p>Participation</p>
      <% end %>
    <% else %>
      <%= link_to(meetup_participants_path(@meetup), method: :post, remote: true) do  %>
        <i class="fas fa-plus-circle"></i>
        <p>Participation</p>
      <% end %>
    <% end %>
  <ul>
    <% @meetup.participants.each do |participant| %>
    <li><%= participant.user.nickname %></li>
    <% end %>
  </ul>

  <%= link_to "Acceder au chat",  chat_meetup_path(@meetup) %>
</div>
