<div class="container p-3">
  <div class="title-meetups-bookmarks">
    <h1 class="mb-3">Mes meetups</h1>
  </div>

  <% @meetups.each do |meetup| %>
    <%= link_to(meetup_path(meetup)) do%>
      <div class="card-meetup-with-trash">
        <div class="card-user-meetup">
          <div class="card-meetup-left">
            <h3><%= meetup.offer.name %></h3>
            <h4>par <strong><%= meetup.user.nickname %></strong></h4>
            <div class="card-tags">
              <span><%= meetup.participants.count %> participant(s)</span>
            </div>
          </div>
          <div class="card-meetup-right">
            <p><%= meetup.date.strftime('%d/%m/%Y') %></p>
            <h2>à <%= meetup.date.strftime('%Hh%M') %></h2>
          </div>
        </div>
        <div class="card-meetup-trash">
          <%= link_to participant_path(meetup.participants.find_by(user: current_user)), remote: true, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
        <% end %>


    </div>
  <% end %>
</div>
