<div class="navbar d-flex justify-content-center fixed-bottom pt-1 navbar-expand navbar-light navbar-lewagon">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item d-flex flex-column align-items-center active ">
          <%= link_to root_path, class: "nav-link" do%>
            <div class="d-flex flex-column align-items-center">
              <i class="fas fa-search pt-2"></i>
              <p class="pt-2">Explorer</p>
            </div>
          <% end %>
        </li>
        <li class="nav-item d-flex flex-column align-items-center ">
          <%= link_to user_meetups_meetups_path, class: "nav-link" do%>
            <div class="d-flex flex-column align-items-center">
              <i class="far fa-calendar-alt pt-2"></i>
              <p class="pt-2">Meetups</p>
            </div>
          <% end %>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">

          <%= link_to bookmarks_path, class: "nav-link" do%>
            <div class="d-flex flex-column align-items-center">
              <i class="far fa-heart pt-2"></i>
              <p class="pt-2">Favoris</p>
            </div>
          <% end %>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
          <%= link_to profile_path, class: "nav-link" do%>
          <div class="d-flex flex-column align-items-center">
            <i class="far fa-user-circle pt-2"></i>
            <p class="pt-2">Profil</p>
          </div>
          <% end %>
        </li>
        </li>
      <% else %>
        <li class="nav-item d-flex flex-column align-items-center active ">
            <i class="fas fa-search"></i>
            <%= link_to "Explorer", "#", class: "nav-link" %>
         </li>
        <li class="nav-item d-flex flex-column align-items-center">
          <i class="fas fa-user-plus"></i>
          <%= link_to "Inscription",  new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item d-flex flex-column align-items-center">
          <i class="fas fa-sign-in-alt"></i>
          <%= link_to "Connection", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
