<div>
  <div class="top">
    <div class="container">
      <div class="Title"><h1>Kid's Out</h1></div>
      <div class="d-flex flex-column">
        <div class="buttons"><%= link_to "Où souhaitez-vous aller ?", new_offer_path %></div>
        <div class="buttons" id="current-position-form">
          <%= simple_form_for :coordinates, url: offers_path, method: :get do |f| %>
            <%= f.input :longitude %>
            <%= f.input :latitude %>
            <%= f.submit "Trouver autour de moi" %>
          <% end  %>
        <%= button_tag "Trouver autour de moi", id: "current-position" %></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="bg-white border box-shadow-museum p-3 m-3" style="border-radius: 10px;height: 258px;">
      <h3>Nos suggestions</h3>
      <div class="d-flex align-items-center justify-content-start">
        <div class="museum"> <%= image_tag ("museum.png") %></div>
        <h5>Musée</h5>
      </div>
      <div class="d-flex align-items-center justify-content-start">
        <div class="museum"> <%= image_tag ("trees.png") %></div>
        <h5>Parc</h5>
      </div>
    </div>
  </div>

</div>