<div class="page-selector" data-controller="page-selector">
  <div class="card-question-1" data-page-selector-target = 'page1'>
    <div class="container" >
      <div class="card-title">
        <h1>
          Trouver toutes les activités aux alentours <div class="blue-text">pour votre enfant</div>
        </h1>
      </div>

      <div class="card-question-address">
        <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
          <%= button_tag "Trouver autour de moi", id: "current-position", class: "btn-review-black" %>
          <h3 class="mt-4 text-center">ou</h3>
          <%= f.input :address, placeholder: "Indiquez votre adresse", label: false %>
          <%= f.input :latitude, as: :hidden, input_html: {id:"latitude"} %>
          <%= f.input :longitude, as: :hidden, input_html: {id:"longitude"} %>
      </div>

      <div class="card-btn-next-back mt-4">
        <%= button_tag "", class: "btn-review-transparent" %>
        <div class="btn-review-black" data-action="click->page-selector#next1" id="next">
          Suivant
        </div>
      </div>
    </div>
  </div>

  <div class="card-question-2 hidden" data-page-selector-target = 'page2'>
    <div class="container">
      <div class="card-title">
        <h1 class="mb-4">Age de votre <div class="blue-text">enfant</div></h1>
      </div>
      <div class="age-selector d-flex" data-controller= "age-sellector">
        <i class="fas fa-minus-circle" data-action="click->age-sellector#down"></i>
        <div class="age-proposal" data-age-sellector-target = 'age'>
          5 ans
        </div>
        <%= f.input :min_age, label: false, input_html: {value: 5, data: {age_sellector_target: 'input'}}, as: :hidden %>
        <i class="fas fa-plus-circle" data-action="click->age-sellector#up"></i>
      </div>
    </div>
    <div class="card-btn-next-back ">
      <div class="btn-review-transparent" data-action="click->page-selector#back1">
        Retour
      </div>
      <div class="btn-review-black" data-action="click->page-selector#next2">
        Suivant
      </div>
    </div>
  </div>

  <div class="card-question-3 hidden" data-page-selector-target = 'page3'>
    <div class="container" data-controller="theme-selector">
      <div class="card-title">
        <h1>Souhaitez vous <div class="blue-text">une activité</div> </h1>
      </div>
      <div class="theme-choice" >
        <div class="card-theme-container">
          <div class="card-theme" data-action="click->theme-selector#change1" data-theme-selector-target = 'theme1'>
            <%= image_tag "school.png", class: 'card-icon' %>
          </div>
          <span>Interieure</span>
        </div>
        <div class="card-theme-container">
          <div class="card-theme" data-action="click->theme-selector#change2" data-theme-selector-target = 'theme2'>
            <%= image_tag "forest.png", class: 'card-icon' %>
          </div>
          <span>Exterieure</span>
        </div>
      </div>
      <%= f.input :theme, input_html: {data: {theme_selector_target: 'input'}}, as: :hidden  %>
      <div class="card-btn-next-back">
        <div class="btn-review-transparent" data-action="click->page-selector#next1">
          Retour
        </div>
        <input type="submit" name="commit" value="Suivant"
          class="btn-review-black">
      </div>
    </div>
  </div>

  <% end %>
</div>
