<div>
  <div class="top">
    <div class="container">
      <div class="Title">
        <h1>Kid's Out</h1>
      </div>
      <div class="d-flex flex-column">

        <div class="buttons">
          <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
            <div class="bg-white">
              <%= f.input :address %>
              <%= f.input :min_age %>
              <%= f.input :theme, as: :radio_buttons, collection: ["interieure", "exterieure"]%>
              <%= f.input :longitude, :as => :hidden %>
              <%= f.input :latitude, :as => :hidden %>
              <%= f.submit "Où souhaitez-vous aller ?" %>
            </div>
            <div class="buttons">
              <%= button_tag "Trouver autour de moi", id: "current-position" %>
            </div>
          <% end  %>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="bg-white border box-shadow-museum p-3 m-3" style="border-radius: 10px;height: 258px;">
      <h3>Nos suggestions</h3>
      <div class="d-flex align-items-center justify-content-start">
        <div class="museum"> <%= image_tag ("museum.png") %></div>
        <h5>Musée</h5>
      </div>
      <div class="d-flex align-items-center justify-content-start">
        <div class="museum"> <%= image_tag ("trees.png") %></div>
        <h5>Parc</h5>
      </div>
    </div>
  </div>

</div>