<div class="container">
  <div class="d-flex justify-content-around align-items-center">

    <div class="buttons">
      <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
        <div class="bg-white">
          <%= f.input :address %>
          <%= f.input :min_age %>
          <%= f.input :theme, as: :radio_buttons, collection: ["interieure", "exterieure"] %>
          <%= f.input :categories, collection: [ "Bois", "Concerts",  "Animations", "Spectacles", "Expositions", "Événements", "Square", "Jardin", "Parc", "Promenade" ] %>
          <div class="question">
            <input type="submit" name="commit" value="Où souhaitez-vous aller ?"
              data-disable-with="Où souhaitez-vous allez ?"
              style="border-radius: 5px; ">
          </div>
        </div>
      <% end  %>
    </div>

    <div class="icon-position">
      <%= link_to offers_path do %>
        <i class="fas fa-map-marked-alt"></i>
      <% end %>
    </div>

  </div>
</div>

<div
  id="map" style="width: 100%; height: 670px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" >
</div>
