<div class="container">

    <div class="buttons">
      <%= simple_form_for :search, url: offers_path, method: :get do |f| %>
          <%= f.input :address %>
          <%= f.input :min_age %>
          <%= f.input :theme, as: :radio_buttons, collection: ["interieure", "exterieure"] %>
          <%= f.input :longitude, :as => :hidden %>
          <%= f.input :latitude, :as => :hidden %>

          <div class="question">
              <input type="submit" name="commit" value="Que souhaitez-vous faire ?"
              data-disable-with="Que souhaitez-vous faire ?"
              style="border-radius: 5px; ">
          </div>
      <% end  %>
    </div>
</div>

<div id="map"
     style="width: 100%; height: 670px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
