<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.photo) %>
<%# FLIP CARD %>
<div class="flip-card <%= "flipped" if params[:card_flipped]%>"  data-controller="flip-card">
  <div class="flip-card-inner">
    <%# BEGGING FRONT CARD %>
    <div class="flip-card-front pb-6">
      <%# BANNER/HEADER %>
      <div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path @offer.photo %>');">
        <%# FAVORIS %>
        <div class="ban-favoris">
          <% if current_user && current_user.bookmarks.where(offer: @offer).any? %>
            <%= link_to(offer_bookmark_path(@offer, current_user.bookmarks.where(offer: @offer).first), remote: true, method: :delete) do  %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to(offer_bookmarks_path(@offer), method: :post, remote: true) do  %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div><%# END FAVORIS %>
      </div> <%#  END BANNER/HEADER %>
      <%# CARD DETAILS%>
      <div class="container text-align-left card-offer">
        <%# TITLE OFFER %>
        <h1><%= @offer.name %></h1>
        <h5><%= @offer.address %></h2>
        <%# AGE + DATE %>
        <div class="d-flex justify-content-around tag-card-offer">
          <% if @offer.min_age %>
            <% if @offer.max_age %>
              <p><%= @offer.min_age %>-<%= @offer.max_age %> ans et +</p>
            <% elsif @offer.min_age == 0 %>
              <p>Tout public</p>
            <% else  %>
              <p><%= @offer.min_age %> ans et +</p>
            <% end %>
          <% end %>
          <% if @offer.start_date && @offer.end_date %>
            <p> <%= image_tag("icons/calendar.png", class: "icons mr-2") %> Du <%= @offer.start_date.strftime("%d/%m/%y") %> au <%= @offer.end_date.strftime("%d/%m/%y") %></p>
          <% end %>
        </div>
        <%# BUTTON MEETUP FLIP %>
        <div class=" d-flex justify-content-around mb-4 btn-meetup">
          <a data-action="click->flip-card#flip" href="#">Voir les meetups (<%=@offer.meetups.size %>)</a>
        </div>
        <%# BUTTON MEETUP FLIP END %>
        <%# DESCRIPTIF %>
        <div class="card-show-description">
          <% if @offer.description %>
            <div
            data-controller="read-more"
            data-read-more-more-text-value="Lire plus"
            data-read-more-less-text-value="Lire moins"
            >
              <div class="read-more" data-read-more-target="content"><%= @offer.description.html_safe %></div>
                <a  id="link-lire" data-action="read-more#toggle" href="#">
                Lire plus

                </a>
              </div>
          <% end %>
        </div>
        <%# END DESCRIPTIF %>
        <%# MORE INFORMATION URL %>
        <div class="link-info">
          <% if @offer.url %>
            <%= link_to @offer.url, target: :_blank, class: 'link-info' do %>
            <i class="fas fa-sign-out-alt"><span> Voir le site officiel</span></i>
            <% end %>
          <% end %>
        </div>
        <%# END MORE INFORMATION URL %>
        <%# ADD NEW COMMENT BEGING %>
        <div class="container">
          <div class="row">
            <div class="col-xs-4 w-100 mt-2 form-label">
              <h3>Laisser un avis</h3>
              <% if @offer.reviews.size > 1%>
                <p><i class="fas fa-star"></i> <%= @offer.reviews.average(:rating) %>/5 (<%= @offer.reviews.size %> commentaires) </p>
              <% elsif @offer.reviews.size == 1 %>
                <p><i class="fas fa-star"></i> <%= @offer.reviews.average(:rating) %>/5 (<%= @offer.reviews.size %> commentaire) </p>
              <% end %>
              <%= simple_form_for([ @offer, @review ], remote: true) do |f| %>
                <%= f.input :rating, collection: (1..5).to_a %>
                <%= f.input :comment, placeholder: "Commentez votre experience" %>
                <%= f.submit "Envoyer" %>
              <% end %>
            </div>
          </div>
        </div>


        <%# ADD NEW COMMENT END %>
        <%# ALL COMMENTS BEGING %>
        <% @offer.reviews.each do |review| %>
          <div class="card-review bg-white py-3 my-3" id="review-<%= review.id %>">
            <div class="container">

              <div class="card-nickname-rating d-flex justify-content-between">
                <div class="card-nickname">
                  <h6><%= review.user.nickname %></h6>
                  <p>Le <%= review.created_at.strftime("%d/%m/%y") %></p>
                </div>
                <div class="card-star">
                  <% review.rating.times do%>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5-review.rating).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
              </div>
              <p class="fst-italic"><%= review.comment %></p>
                <% if policy(review).destroy? %>
                  <%= link_to(offer_review_path(@offer, review), method: :delete, remote: true) do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>

            </div>
          </div>
        <% end %>
        <%# ALL COMMENTS END %>
      </div> <%# END CARD DETAILS%>
    </div><%# END FRONT CARD %>
    <%# ============================= %>
    <%# BEGGING BACK CARD %>
    <div class="flip-card-back">
      <div class="container position-relative d-flex justify-content-center flex-column p-3">
        <div class ="black-cross"> <i data-action="click->flip-card#flip" class="fas fa-times"></i></div>
        <div class="button-new-meetup">
          <%= link_to "Créer un nouveau meetup !", (new_offer_meetup_path(@offer)) %>
        </div>
        <%# LISTING MEETUPS BY OFFER %>
        <div>
          <% @offer.meetups.each do |meetup| %>
            <%= link_to(meetup_path(meetup)) do%>
              <div class="card-user-meetup" id="meetup-<%= meetup.id %>">
                <div class="card-meetup-left">
                  <h3><%= meetup.offer.name %></h3>
                  <h4>par <strong><%= meetup.user.nickname %></strong></h4>
                  <div class="card-tags">
                    <span><%= meetup.participants.count %> participant(s)</span>
                  </div>
                </div>
                <div class="card-meetup-right">
                  <p><%= meetup.date.strftime('%d/%m/%Y') %></p>
                  <h2><%= meetup.date.strftime('%Hh%M') %></h2>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <%# END LISING MEETUPS %>
      </div>
      </div>
    <%# END BACK CARD %>
  </div> <%# END FLIP CARD INNER %>
</div>
<%# END FLIP CARD %>
