<div class="container">
  <h1><%= @offer.name %></h1>

  <div class="card-show">
    <div class="card-show-image-favoris d-flex justify-content-between">
      <div class="img-card">
        <%= image_tag(@offer.photo)%>
      </div>
      <div class="card-favoris">
      <% if current_user.bookmarks.where(offer: @offer).any? %>
        <%= link_to(offer_bookmark_path(@offer, current_user.bookmarks.where(offer: @offer).first), method: :delete) do  %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to(offer_bookmarks_path(@offer,), method: :post) do  %>
          <i class="far fa-heart"></i>

      <% end %>
      </div>
    </div>
    <% if @offer.min_age %>
      <% if @offer.max_age %>
      <p>Pour les <%= @offer.min_age %>-<%= @offer.max_age %>ans</p>
        <% else  %>
      <p>A partir de <%= @offer.min_age %>ans</p>
      <% end %>
    <% end %>
    <% if @offer.start_date && @offer.end_date %>
      <p>Du <%= @offer.start_date %> au <%= @offer.end_date %></p>
    <% end %>
    <% if @offer.description %>
      <p><%= @offer.description.html_safe %></p>
    <% end %>
    <p>Addresse : <%= @offer.address %></p>
    <% if @offer.schedule %>
      <p>Horaires d'ouverture :<%= @offer.schedule %></p>
    <% end %>
    <% if @offer.url %>
    <%= link_to(@offer.url) do %>
      <p>Plus d'informations</p>
      <% end %>
    <% end %>
  </div>


  <div>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Commenter et noter l'activité
    </a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
         <%= simple_form_for [ @offer, @review ] do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: 1..5 %>
          <%= f.submit "Submit" %>
        <% end %>
      </div>
    </div>
  </div>
  <% @offer.reviews.each do |review| %>
  <div class="card-review bg-white py-3 my-3">
    <div class="container">
      <div class="card-nickname-rating d-flex justify-content-between">
        <div class="card-nickname">
          <h6><%= review.user.nickname %></h6>
          <p>Le <%= review.created_at.strftime("%d/%m/%y") %></p>
        </div>
        <div class="card-star">
          <% review.rating.times do%>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5-review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
        <p class="fst-italic"><%= review.comment %></p>
        <%= link_to(offer_review_path(@offer, review), method: :delete) do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
    </div>
  </div>
  <% end %>
  <%= link_to "Revenir à la recherche", offers_path %>

</div>
